body { 
 padding:0;margin:0;
} 

.gv { 
  clear:both;
} 

.gh { 
  display:inline;
  float:left;
}

.inner { 
  overflow:hidden;
} 

/*
  background:rgb(70,70,70);

  */
.innerInnerInnerCell { 
  word-wrap:break-word;
  width:100px;
}

.innerInnerCell { 
  margin-top:2px;
  padding:10px;
  font-size:10px;
  overflow:hidden;
  font-family:verdana;
  background: -moz-linear-gradient( 0deg,  rgb(40,40,40),rgb(70,70,70) );
  height:100%;

} 

.innerNoneHor { 
  background: -moz-linear-gradient( 90deg, rgba(5,5,5,.2),  rgba(255,255,255,0));
} 



.innerNone { 
  background: -moz-linear-gradient( 0deg, rgba(5,5,5,.2),  rgba(255,255,255,0));
} 

.innerHour { 
  background: -moz-linear-gradient( 0deg, rgba(5,5,5,.2), rgba(255,255,255,0), rgba(255,255,255,0));
  text-align:center;
} 

.innerHourHor { 
  background: -moz-linear-gradient( 90deg, rgba(5,5,5,.2), rgba(255,255,255,0), rgba(255,255,255,0));
  text-align:center;
} 

.innerInnerHour { 
  margin-top:2px;
} 

.innerHeader { 
   width:50px; 
   background:white;
   overflow:hidden;
} 
 
.innerInnerHeader { 
  padding:.5em;
  padding-left:1em;
  margin-left:2px;
  margin-bottom:2px;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  color:black;
} 

.innerInnerCorner { 
  margin:.5em;
} 

